<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Ultra</string>
	<key>CFBundleExecutable</key>
	<string>Ultra</string>
	<key>CFBundleIconFile</key>
	<string>Ultra</string>
	<key>CFBundleIconName</key>
	<string>Ultra</string>
	<key>CFBundleIdentifier</key>
	<string>com.bigb.ultra-swift</string>
	<key>CFBundleName</key>
	<string>Ultra</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>26</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUPublicEDKey</key>
	<string>SribIcG3bOjhcAnl9uSgRmlTpXg4txE8gGCGSP05LX4=</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Ultra Todo Item</string>
			<key>UTTypeIdentifier</key>
			<string>com.ultra.todo-item</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
